table {
    border-collapse: collapse;
}
table,table tr th, table tr td { 
   border:5px solid #000000;
   font-family: 'Courier New', Courier, monospace;
   font-size: 200%;
}
td{
width: 200px;
height: 500px;
}
th{
width: 400px;
height: 500px;
}