table {
     border-collapse: collapse;
}
table,table tr th, table tr td { 
    border:2px solid #000000;
}
/* 设置边框 */
th,td,tr{
    width: 100px;
    height: 60px;
}
tr:nth-child(odd){
    background-color: #b9f5e1;
}
tr:nth-child(even){
    background-color: #479178;
}